
# Created by https://www.gitignore.io/api/windows,linux,flex,flashbuilder

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*


### Flex ###

# Build and Release Folders
bin/
bin-debug/
bin-release/
.actionScriptProperties

# only for a non-library project
.flexProperties

# only for library project
.flexLibProperties


# Other files and folders
.settings/
.project/

.FlexUnitSettings
.externalToolBuilders
.model


### FlashBuilder ###
# Build and Release Folders
.flexConfig.xml

# only for a non-library project

# only for library project

# Other files and folders

